In [9]:
# Finding the sum of a list of numbers
list2 = [10, 20, 30, 40, 50, 60, 70, 80, 90]
sum  = 0 
for num in list2:
    sum = sum + num
print(f"The sum of list2 is {sum}.")

The sum of list2 is 450.

In [17]:
# For loop using a tuple.
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
sum  = 0 
for num in tuple1:
    sum = sum + num
print(f"The sum of tuple1 is {sum}.")

The sum of tuple1 is 550.

In [21]:
# Using the range function
for num in range(1,5):
    print(num)

1
2
3
4

In [37]:
# Using the range function to create a multiplication table.
number = int(input("Enter your number:"))
for num in range(1,13):
    print(number * num)

Enter your number: 3

3
6
9
12
15
18
21
24
27
30
33
36

In [41]:
# Using a nested loops in a list
list3 = ['Python', 'SQL', 'Java', 'Excel', 'HTML', 'Ruby'] 

for courses in list3:
    print(courses)
    for letters in courses:
        print(letters)

Python
P
y
t
h
o
n
SQL
S
Q
L
Java
J
a
v
a
Excel
E
x
c
e
l
HTML
H
T
M
L
Ruby
R
u
b
y

In [59]:
# Using the break statement 

for i in range (1,20):
    if i == 5:
        break
    else:
        print(i)

1
2
3
4

In [69]:
# Using the continue statement 

for i in range (1,9):
    if i == 5:
        continue
    else:
        print(i)

1
2
3
4
6
7
8

In [77]:
alpha = ['a', 'b', 'c','d']
alpha += 'si'

print(alpha)

['a', 'b', 'c', 'd', 's', 'i']

In [18]:
# # Using while loop
# i = 0

# while i < 10:
#     # i += 1
#     i = i + 1
#     print(i)

num = int(input("Enter your number:" ))
i = 0

while i < num:
    i += 1
    # i = i + 1
    print(i)
    print

Enter your number: 4

1
2
3
4

In [4]:
# Print numbers from 1 to 5 using a while loop
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [24]:
count = 0

while count <= 5:
    print("Good Count")
    count += 1
print("Perfect")

Good Count
Good Count
Good Count
Good Count
Good Count
Good Count
Perfect

In [42]:
# Using a break statement in a while loop
while True:
    print("Enter your guess below.")
    guess = input("Input your guess")
    if guess == "Cyclobold":
        break
    else:
        print("Wrong guess")
        continue
print("Your guess is correct!")

Enter your guess below.

Input your guess Cyclobold

Your guess is correct!

In [30]:
# If and else statements
name = input('Enter your name: ')

if name == 'Ade':
    print("Correct!")
else:
    print("Try again, you entered the wrong name")

Enter your name:  ww

Try again, you entered the wrong name

In [78]:
x = int(input("Enter a number"))

if x  > 50:
   print(f"Number {x} is greater than 50")
else:
    print(f"The number {x} is less than or equal to 50")

Enter a number 88

Number 88 is greater than 50

In [92]:
age = int(input("Tell us your age."))

if age >= 18:
    print("You are old enough to vote!")
else:
    print("You are not old enough to vote.")

Tell us your age. 18

You are old enough to vote!

In [116]:
# If, elif and else statements

age = int(input("Tell us your age: "))

if age >= 70:
    print("You can vote, but can not drive")
elif age >= 18:
    print("You are old enough to vote and drive.")
elif age >= 16:
    print("You can drive but cannot vote.")
else:
    print("You cannot drive or vote yet.")

Tell us your age:  55

You are old enough to vote and drive.

In [2]:
# Nested if statements

age = int(input("Tell us your age: "))
gender = input("Tell us your gender: ")

if age >= 18:
    if gender == "male":
        print("You are a male and old enough to vote.")
    else:
        print("You are a female and old enough to vote.")
else:
    print("You are not old enough to vote yet.")

Tell us your age:  y

ValueError: invalid literal for int() with base 10: 'y'

In [56]:
word = "Python"

for letter in word:
    print(letter)

P
y
t
h
o
n

In [68]:
# Using the end parameter
word = "Python"

for letter in word:
    print(letter, end = "*")

P*y*t*h*o*n*

In [74]:
# Using for loops in a list

list1 = ['Python', 'SQL', 'Java', 'Excel', 'HTML']

for courses in list1:
    print(courses)
    
    for letters in courses:
        print(letters)

Python
P
y
t
h
o
n
SQL
S
Q
L
Java
J
a
v
a
Excel
E
x
c
e
l
HTML
H
T
M
L

In [76]:
# Finding the sum of a list of numbers
list2 = [10, 20, 30, 40, 50, 60, 70, 80, 90]
sum  = 0 
for num in list2:
    sum = sum + num
print(f'The sum of list2 is {sum}.')

The sum of list2 is 450.

In [78]:
# For loop using a tuple.
tuple1 = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
sum  = 0 
for num in tuple1:
    sum = sum + num
print(f"The sum of tuple1 is {sum}.")

The sum of tuple1 is 550.

In [88]:
for num in range(1,5):
    print(num)

1
2
3
4

In [90]:
for num in range(5):
    print(num)

0
1
2
3
4

In [96]:
for num in range(0,20,2):
    print(num)

0
2
4
6
8
10
12
14
16
18

In [100]:
for num in range(1,19,3):
    print(num)

1
4
7
10
13
16

In [114]:
for num in range(0,21,5):
    print(num)

0
5
10
15
20

In [120]:
for num in range(20,0,-5):
    print(num)

20
15
10
5

In [132]:
# Using the break statement 
for i in range (1,20):
    # print(i)
    if i == 5:
        break
    else:
        print(i)

1
2
3
4

In [140]:
# Using the continue statement 
for i in range (1,9):
    if i == 5:
        continue
    else:
        print(i)

1
2
3
4
6
7
8

In [142]:
for i in range(5):
    print(f"Iteration {i}")

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4

In [150]:
my_list = ['a', 'b', 'c', 'd']
l = len(my_list)
for i in range(l):
    print(f"Index {i} contains {my_list[i]}")

Index 0 contains a
Index 1 contains b
Index 2 contains c
Index 3 contains d

In [154]:
numbers = list(range(10))
print(numbers) 

num = range(10)
numbers = list(num)
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [164]:
for i in range(3):
    print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!

In [166]:
list3 = ['Python', 'SQL', 'Java', 'Excel', 'HTML', 'Ruby'] 

for courses in list3:
    print(courses)
    for letters in courses:
        print(letters)

Python
P
y
t
h
o
n
SQL
S
Q
L
Java
J
a
v
a
Excel
E
x
c
e
l
HTML
H
T
M
L
Ruby
R
u
b
y

In [189]:
age = int(input("Tell us your age."))

if age >= 18:
    print("You are old enough to vote.")
else:
    print("You are not old enough to vote.")

Tell us your age. 8

You are not old enough to vote.

Note: Take note of your indentations in python.